modules = ["nodejs-20", "web"]
run = "concurrently \"npm run dev:frontend\" \"npm run dev:backend\""

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[deployment]
run = ["sh", "-c", "concurrently \"npm run dev:frontend\" \"npm run dev:backend\""]

[workflows]
runButton = "Start Application"

[[workflows.workflow]]
name = "Start Application"
author = 43157120
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
